* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}

.wrapper {
  position:relative;
  width:1080px;
  margin:0 auto;
  padding:0 10px;
  &:before, &:after {
    content:'';
    display:table;
  }
  &:after {
    clear:both;
  }
}

.wrapper-spread {
  @extend .wrapper;
  width:auto;
  margin:0;
}

.clearfix {
  @extend .wrapper;
  width:auto;
  margin:0;
}

// Fonts
h1,h2,h3,h4,h5,h6 {
  margin:10px 0;
  &.no-padding {
    padding:0;
  }
  &.no-margin {
    margin:0;
  }
}

h1 {
  font-size:2.8em;
}

h2 {
  font-size:2.5em;
}

h3 {
  font-size:2.25em;
}

h4 {
  font-size:1.8em;
}

h5 {
  font-size:1.5em;
}

h6 {
  font-size:1.25em;
}

.button {
  display:inline-block;
  padding:10px 15px;
  background-color:#dadada;
  color:#000;
  outline:0 none;
  cursor:pointer;
  &.red {
    background-color:#ff6161;
    color:#fff;
  }
  &.rounded {
    border-radius:3px;
  }
  &.transparent {
    background-color:transparent;
    color:#fff;
    border:1px solid #fff;
  }
}

.overlay {
  position:fixed;
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.5;
}

.make-left {
  float:left;
}

.make-right {
  float:right;
}

.row {
  @extend .clearfix;
  margin:0 -10px;
}

[class^="grid-"] {
  position:relative;
  padding:0 10px;
  float:left;
}

.grid-1 {
  width:calc(100%/12);
}

.grid-2 {
  width:calc((100%/12) * 2);
}

.grid-3 {
  width:calc(100%/4);
}

.grid-4 {
  width:calc(100%/3);
}

.grid-5 {
  width:calc((100%/12) * 5);
}

.grid-6 {
  width:calc(100%/2);
}

.grid-7 {
  width:calc((100%/12) * 7);
}

.grid-8 {
  width:calc((100%/12) * 8);
}

.grid-9 {
  width:calc((100%/12) * 9);
}

.grid-10 {
  width:calc((100%/12) * 10);
}

.grid-11 {
  width:calc((100%/12) * 11);
}

.grid-12 {
  width:100%;
}
